.portrait {
border-radius: 50%;
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
}

.navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffffff;
border-bottom: 0.15em solid transparent
}

.navbar a:hover {
    border-bottom: 3px solid blueviolet;
  }
  
  .navbar a.active {
    border-bottom: 3px solid blueviolet;
  }



li a {
display: block;
color: rgb(82, 82, 82);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}



body {
    font-family: Helvetica, Arial;
    font-size: 13pt;
    }

/* The sidebar menu */
.sidebar {
    float:left;
    width:30%;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 7%;

}

.interests {
    float:left;
    width:50%;

}

.education {
    float:left;
    width:50%;

}



.main {
    float:left;
    width:50%;
    margin-top: 10%;

    }